<h2><%= @message.title %></h2>
<h2><%= @message.description %></h2>
<!-- Add a posted at timestamp -->

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_message_path(@message) %>
<%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?" } %>